.navcontainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.nav-link {
    width: auto;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 15PX;
}

.navcontainer .nav-link:hover {
    font-weight: bolder;
}

.toplogo {
    margin-right: auto;
    margin-left: 0%;
}

.sidebar {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: cen;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;    
    height: 100vh;
    width: 70%;
    z-index: 999;
    box-shadow: -10px 0 10px #557A95;
    backdrop-filter: blur(50px);
}

.sidebar li {
    padding-block: 15px;
}

.sidebar a {
    width: 100%;
}
.sidebar .nav-link:hover {
    font-weight: bolder;
}


.homeBanner img {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
}



.footerContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    justify-content: center;
    align-items: center;
}


.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10%;
    margin-bottom: 20%;
        img {
            width: 80%;
        }   
        a {
            text-decoration: none;
            color: black;
        }

        h4 {
            text-align: center;
            margin-block: 10px;
        }
        
        p {
            text-align: center;
            margin-block: 3px;
        }
}


.footerContainer a:hover {
    color: #557A95;
    font-weight: bolder;
    text-transform: uppercase;
}

.homeServiceButton {
    display: flex;
    width: fit-content;
    position: relative;
    margin-bottom: -20px;
    bottom: 50px;
    left: 6%;
    text-decoration: none;
    color: black;
    background-color: #f3713e;
    align-items: center;
    padding: 5px 8px;
    border: solid black 2px;
    border-radius: 4px 4px;
}
.homeServiceButton:hover {
    background-color: #6f9bba;
}


/* Media Queries */

@media(max-width: 700px) {
    .hideOnMobile {
        display: none;
    }
    #sidebarMenu {
        width: 25px;
        padding-right: 50px;
    }
    #toplogo {
        width: 22vh;
    }
    .homeServiceButton {
        bottom: 50px;
        font-size: 12px;
    }
}

@media(max-width: 600px) {
    #toplogo {
        margin-left: auto;
        width: 18vh;
    }
    #sidebarMenu {
        padding-right: 40px;
        width: 25px;
    }
    .homeServiceButton {
        bottom: 45px;
        font-size: 10px;
    }
}

@media(max-width: 430px) {
    #toplogo {
        margin-right: auto;
        width: 18vh;
    }
    #sidebarMenu {
        padding-right: 30px;
        width: 25px;
    }
    .footerContainer {
        display: grid;
        grid-template-columns: 1fr;
        max-width: fit-content;
        margin-right: auto;
        margin-left: auto;
        img {
            width: 50%;
        }
    }
    .homeServiceButton {
        bottom: 40px;
        font-size: 8px;
        padding: 2px 2px;
    }
}

@media(max-width: 320px) {
    #toplogo {
        width: 18vh;
    }
    #sidebarMenu {
        width: 20px;
        padding-right: 20px;
    }
    .homeServiceButton {
        bottom: 35px;
        font-size: 6px;
    }
}

@media(max-width: 250px) {
    #toplogo {
        margin-right: auto;
        width: 18vh;
    }
    #sidebarMenu {
        width: 20px;
        padding-right: 10px;
    }
}

@media(min-width: 700px) {
    .hideOnWebsite {
        display: none;
    }
    #toplogo {
        margin-right: auto;
        width: 22vh;
    }
    .nav-link {
        font-size: 15px;
    }
    .homeServiceButton {
        bottom: 50px;
        font-size: 15px;
    }
}
